@model object

@{
    ViewBag.Title = "Goals";
    Layout = "_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/goals.css"/>
}

<div class="goalsList">
    <div class="task">
        <span class="taskName">Martin Fowler, “Serverless”<i class="fas fa-check"></i> </span>
        <p class="taskDescription">Online course completed 
            <a target="_blank" href="https://www.qwiklabs.com/public_profiles/cddbd59d-033a-4884-9c3e-8eb539a3bec3">
                <i class="fas fa-link"></i>
            </a>
        </p>
    </div>
    <div class="task">
        <span class="taskName">The Twelve-Factor App<i class="fas fa-check"></i></span>
    </div>
    <div class="task">
        <span class="taskName">English<i class="fas fa-check"></i> </span>
        <p class="taskDescription">"Spoken Intermediate Part 2" course completed</p>
    </div>
    <div class="task">
        <span class="taskName">Configure SDLC using Github<i class="fas fa-check"></i> </span>
        <p class="taskDescription">The site is deployed from the Github repository using Azure Pipelines
            <a target="_blank" href="https://github.com/shaeredal/SDLCtask">
                <i class="fas fa-link"></i>
            </a>
        </p>
        <p class="taskDescription">SonarCloud integrated
            <a target="_blank" href="https://sonarcloud.io/dashboard?id=shaeredal_SDLCtask">
                <i class="fas fa-link"></i>
            </a>
        </p>
    </div>
</div>

