@model object

@{
    ViewBag.Title = "Goals";
    Layout = "_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/goals.css"/>
}

<div class="goalsList">
    <div class="task">
        <span class="taskName">English <i class="fas fa-check"></i></span>
        <p class="taskDescription">done</p>
    </div>
    <div class="task">
        <span class="taskName">SDLC <i class="fas fa-check"></i> </span>
        <p class="taskDescription">done</p>
    </div>
    <div class="task">
        <span class="taskName">Serverless <i class="fas fa-check"></i> </span>
        <p class="taskDescription">done</p>
    </div>
</div>

