@model object

@{
    ViewBag.Title = "Main Page";
    Layout = "_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/index.css">
}

<div class="logo">
    <a href=@Url.Action("Goals", "Home")>
        <div class="itralogo">
            <div class="itralogo-inner"></div>
        </div>
    </a>
</div>