@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/home.css">
    <title>SDLCtask</title>
</head>
<body>
<div>
    <p>Hello world!</p>
</div>
<script src="~/js/home.js"></script>
</body>
</html>