.goalsList {
    margin: 20px;
}

.task {
    margin-bottom: 28px;
}

.taskName {
    margin: 0;
    font-size: 28px;
    display: inline-flex;
    align-items: center;
}

.taskName i {
    font-size: 14px;
    color: #00AA00;
    margin: 7px;
}

.taskDescription {
    font-size: 16px;
    margin-left: 16px;
    color: #BBBBBB;
}

.taskDescription i {
    color: #888888;
    margin: 7px;
    transition: color 1s 0.02s ease;
}

.taskDescription i:hover {
    color: #AA00AA;
    transition: color 1s 0.02s ease;
}